### OS / IDE
.DS_Store
*.iml
.idea/
.vscode/

### Java / Gradle / Maven
target/
build/
out/
.gradle/
**/*.class
**/*.log
**/*.jar
**/*.war

### Android
/.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

### Node (있다면)
node_modules/

### Others
*.zip
*.tar
*.tar.gz
